<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Data</title>
    <link rel="stylesheet" href="/css/alldata.css">
</head>
<body>
    <h1>All Users</h1>
    <ul>
        <% users.forEach(function(user) { %>
            <li>Name: <%= user.name %>, Age: <%= user.age %></li>
        <% }); 
        %>
    </ul>
</body>
</html>
