<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/delete.css">
</head>
<body>
    <div class="card">
        <h1 style="color: rgb(15, 89, 83);">Successfully deleted</h1>
        <h3 class="a"><%= name %> account</h3>
        <div style="display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;">
            <form action="/home"  style="position: relative;">
                <button type="submit"  class="btn1" style="margin-top: 5px;">Home</button>
            </form>
         </div>
    </div>
</body>
</html>