<!DOCTYPE html>
&lt;  <!-- Less than symbol "<" -->
&gt;  <!-- Greater than symbol ">" -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/update.css">
</head>
<body>
    <div class="upload2" style="display: flex;flex-direction: column; justify-content: center;
    align-items: center;">
        <form action="/updatesucc" method="post">
            
                <h2 style="color: rgb(0, 62, 26);font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Update lt%= upname gt%</h2>
                <div >
                    lt% if (upname === "name") { gt%
                        <h3>Name 1</h3>
                        <input type="text" name="n1" class="ip2" placeholder="name 1" style="margin-top: -2%;">
                        <h3>Name 2</h3>
                        <input type="text" name="n2" class="ip2" placeholder="name 2" style="margin-top: -2%;"><br>
                        <button type="submit" value="name" name="key" class="btn1">Upload</button>
                    lt% } else if(upname === "password"){ gt%
                        <h3>Name </h3>
                        <input type="text" name="n1" class="ip2"  placeholder="name" style="margin-top: -2%;">
                        <h3>Password</h3>
                        <input type="text" name="p1" class="ip2" placeholder="password" style="margin-top: -2%;"><br>
                        <button type="submit" value="password" name = "key" class="btn1">Upload</button>
                    lt% } gt%
                </div>
                

        </form>
        <div style="display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;">
            <form action="/home"  style="position: relative;">
                <button type="submit"  class="btn1" style="margin-top: 5px;">Home</button>
            </form>
         </div>
    </div>
</body>
</html>